<ul class="list-unstyled" >
<% rooms.each do |room| %>
    <li>
        <%= room.name %> -
        <% if showJoin %>
            <%= link_to "Join", { :controller => 'rooms',  :action=>"show", :id => room.id} %>
        <% end %>
    </li>
<% end %>
</ul>