<div>
    <h2>Room <%= @room.name %></h2>
    <%= link_to "Leave Room", user_path %>  
    <ul>
        <% @room.messages.each do | message | %>
            <li>
                <%= render partial: 'messages/show', locals: {message: message}%>
            </li>
        <% end %>
    </ul>  
    <%= render partial: 'messages/new', locals: {message: @new_message} %>
</div>